body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden; /* Prevent scrolling of the body */
}

h2 {
    padding: 5px; /* Reduce the padding inside the h2 element */
    margin: 10px 0; /* Adjust the margin outside the h2 element */
    /* You can customize the padding and margin values as needed */
}

#top-bar-layer-select {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}

#bottom-bar-page-select {
    position: absolute;
    top: 92.5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50; 
}

/* Image Banks START*/
#drive-images-bar {
    position: fixed;
    top: 0;
    left: 0px; /* Start off-screen to the left */
    min-width: 330px;
    height: 100%; /* Full height of the container */
    background-color: #fff;
    border-right: 1px solid black;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-y: auto; /* Allows vertical scrolling if needed */
    transition: left 0.3s ease-in-out; /* Smooth sliding effect */
    z-index: 50;
}

#character-list , #background-list{
    height: 45%;
    border: 2px solid black;
    border-top-left-radius: 10px; /* Adjust as needed */
    border-bottom-left-radius: 10px; /* Adjust as needed */
    object-fit: contain; /* Ensures image scales within its container */
}

#gameboard-content {
    width: 4000px;
    height: 4000px;
    position: absolute;
    top: -2000px;
    left: -2000px; /* Center the 0,0 point in the visible area */
    transform-origin: center;
    transform: translate(2000px, 2000px);
    border: 2px solid black; /* Add this line for the border */
}
#grid-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #ccc 1px, transparent 1px),
                      linear-gradient(to bottom, #ccc 1px, transparent 1px);
    background-size: 50px 50px; /* Grid size */
    pointer-events: none; /* Allow interaction with layers above */
    z-index: 1; /* Ensure background is at the bottom */
}

#background-layer {
    z-index: 2; /* Background images */
}
#character-layer {
    z-index: 4; /* Character images */
}

#fog-layer {
    z-index: 5; /* Fog images (if applicable) */
}

#background-layer img, #character-layer img, #fog-layer img {
    position: absolute;
    cursor: pointer;
}

.top-bar {
    width: 95%;
}

.image-bank {
    width: 95%;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    flex-wrap: nowrap; /* Prevent wrapping to the next line horizontally */
    overflow-y: auto; /* Allow vertical scrolling if needed */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    align-items: center; /* Center items horizontally within the column */
    text-align: center; /* Center text content horizontally */
}

.splitter {
    width: 5px; /* Width of the splitter bar */
    background-color: #eb0f0f;
    cursor: ew-resize; /* Cursor changes to indicate resize */
    position: relative;
    z-index: 1000;
}

.image-and-buttons-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 95%;
    height: 200px;
    border: 2px solid black;
    border-radius: 5%;
    box-sizing: border-box; /* Ensures padding is included in the container's width */
    margin-bottom: 10px;
}

.image-container {
    object-fit: contain; /* Ensures image scales within its container */
    width: 80%; /* Adjust as needed */
    height: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensures image scales within its container */
}

.button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 100%;
}

.image-button {
    background: none;
    border: none;
    font-size: 24px; /* Adjust as needed */
    cursor: pointer;
}

.image-button-24:hover, .image-button-30:hover {
    color: blue; /* Change color on hover for visual feedback */
}

.token-selector {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.token-selector-combobox {
    height: 40px;
    width: 100px;
    font-weight: bold;
    font-size: 16px; /* Optional: adjust font size to improve readability */
    padding: 0 5px; /* Optional: add padding inside the select box */
    border: 1px solid #ccc; /* Optional: add a border */
    border-radius: 4px; /* Optional: round the corners */
    background-color: #fff; /* Optional: background color */
}

/* Image Banks END*/
.page-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.page-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.row {
    display: flex; /* Ensure it's a flex container */
    align-items: center; /* Center items along the cross axis (vertical if flex-direction is row) */
    justify-content: center; /* Center items along the main axis (horizontal if flex-direction is row) */
    text-align: center; /* Center text content horizontally */
    flex-direction: row; /* This is the default, so you can omit it */
    overflow-y: hidden; /* Prevent vertical scrolling */
    gap: 10px;
}

.column {
    display: flex; /* Ensure it's a flex container */
    align-items: center; /* Center items along the cross axis (vertical if flex-direction is row) */
    text-align: center; /* Center text content horizontally */
    justify-content: center;
    flex-direction: column; /* This is the default, so you can omit it */
    overflow-y: hidden; /* Prevent vertical scrolling */
    gap: 10px;
}
.spacer {
    flex-grow: 1; /* Allow this element to take up all available space */
}

.board-container {
    display: flex;
    height: 100%;
    flex-grow: 1;
    overflow: hidden; /* Hide any overflow from game board */
}

#gameboard {
    flex-grow: 1;
    position: relative;
    overflow: hidden; /* Hide any overflow from the large board */
    cursor: grab; /* Indicate that the board is pannable */
}



.layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.drag-circle {
    position: absolute;
    border-radius: 50%;
    border: 2px solid red; /* Border color for visual effect */
    background: rgba(0, 255, 0, 0.6); /* Green color with 60% opacity */
    pointer-events: none; /* Ensure it does not interfere with dragging */
    width: 300px; /* Diameter of the circle */
    height: 300px; /* Diameter of the circle */
    display: none; /* Initially hidden */
    z-index: 3;
}


/* CHARACTER SHEET */
.character-sheet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 75;
}

.character-create-sheet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    display: none; /* Change to display: flex when showing the modal */
}

.character-sheet-content {
    background: #fff;
    width: 70%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.character-sheet-form {
    position: relative;
    width: 100%;
    height: 95%; /* Adjusts relative to the parent */
    box-sizing: border-box;
    object-fit: contain;
    flex-grow: 1; /* Allows this element to take up remaining space in the parent */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.form-group {
    width: 300px;
    display: flex; /* Ensure it's a flex container */
    align-items: center; /* Center items along the cross axis (vertical if flex-direction is row) */
    text-align: center; /* Center text content horizontally */
    flex-direction: row; /* This is the default, so you can omit it */
    overflow-y: hidden; /* Prevent vertical scrolling */
    overflow-x: auto;
}

.form-group label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    text-align: center; /* Center the text horizontally */
}

.form-group input {
    width: 40%;
    padding: 8px;
    box-sizing: border-box;
    text-align: center; /* Center the text horizontally */
    margin-right: 10px;
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Chrome, Safari, Edge */
    font-weight: bold;
    font-size: 16px; /* Optional: adjust font size to improve readability */
}

.form-group input::-webkit-inner-spin-button,
.form-group input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-controls {
    display: flex;
    flex-direction: column;
}

.number-controls button {
    width: 30px;
    height: 30px;
    margin: 2px 0;
    font-size: 18px;
    background-color: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
}

.number-controls button:hover {
    background-color: #bbb;
}
/* CHARACTER SHEET */

/*SPELLLS*/
.spell {
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.spell-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spell-name {
    font-size: 1.5em;
    font-weight: bold;
}

.spell-classes {
    font-style: italic;
}

.spell-description {
    margin-top: 10px;
}

.spell-effects {
    margin-top: 15px;
    font-size: 0.9em;
    color: #555;
}
/* END OF SPELLS*/

/* CUSTOM SCROLL BAR*/

/* Target the scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the handle */
    border-radius: 10px; /* Roundness of the handle */
    border: 2px solid #f1f1f1; /* Padding around handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the handle when hovered */
}

/* For other browsers, such as Firefox */
.scroll-container {
    scrollbar-width: thin; /* 'thin' or 'auto' */
    scrollbar-color: #888 #f1f1f1; /* Handle and track colors */
}

/* END OF CUSTOM SCROLL BAR*/