#gameboard-content {
    position: absolute;
    transform-origin: center;
    border: 2px solid black; /* Add this line for the border */
}

#grid-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: 
        linear-gradient(to right, rgba(204, 204, 204, 0.5) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(204, 204, 204, 0.5) 1px, transparent 1px);
    pointer-events: none; /* Allow interaction with layers above */
    z-index: 1; /* Ensure background is at the bottom */
}

#background-layer {
    z-index: 2; /* Background images */
}
#character-layer {
    z-index: 4; /* Character images */
}

#fog-layer {
    z-index: 5; /* Fog images (if applicable) */
}

.drag-circle {
    position: absolute;
    border-radius: 50%;
    border: 2px solid red; /* Border color for visual effect */
    background: rgba(0, 255, 0, 0.6); /* Green color with 60% opacity */
    pointer-events: none; /* Ensure it does not interfere with dragging */
    width: 300px; /* Diameter of the circle */
    height: 300px; /* Diameter of the circle */
    display: none; /* Initially hidden */
    z-index: 3;
}
