.selection-bar{
    width: 99%;
    height: 50px;
    display: flex; /* Use flexbox layout */
    flex-direction: row; /* Arrange items in a row */
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow-y: auto; /* Prevent vertical scrolling */
    gap: 10px;
}

.image-button {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding-inline: 0px;
}

.dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 2px solid #ada6a6;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 5px;
    display: none; /* Initially hidden */
    z-index: 1000;
}

.dropdown-menu-button{
    display: block;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #000;
    text-align: center;
}

.dropdown-menu-close-button {
    display: block;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    color: red; /* Text color red */
    font-weight: bold; /* Makes the text bold */
}

.draggable-row {
    width: 100%;
    height: 2px;
    padding: 5px;
    background-color: rgba(247, 215, 39, 0.993);
    border: 2px solid rgba(207, 185, 61, 0.993);
    border-radius: 10px;
    cursor: move;
}

.form-group {
    width: 95%;
    padding: 5px;
    display: flex; /* Ensure it's a flex container */
    overflow-y: hidden; /* Prevent vertical scrolling */
    overflow-x: hidden;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: center; /* Center the text horizontally */
}

.form-group input {
    width: 60%;
    height: 90%;
    padding: 8px;
    box-sizing: border-box;
    text-align: center; /* Center the text horizontally */
    margin-right: 10px;
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Chrome, Safari, Edge */
    font-weight: bold;
    font-size: 16px; /* Optional: adjust font size to improve readability */
}

.form-group select {
    width: 60%;
    height: 90%;
    padding: 8px;
    box-sizing: border-box;
    text-align: left; /* Center the text horizontally */
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px; /* Optional: adjust font size to improve readability */
}

.form-group input::-webkit-inner-spin-button,
.form-group input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.list-element {
    display: flex;
    min-width: 98%;
    min-height: 30px;
    gap: 2px;
    background-color: antiquewhite;
}

.list-element label {
    display: block;
    margin-bottom: 5px;
    text-align: center; /* Center the text horizontally */
}

.number-controls {
    display: flex;
    flex-direction: column;
}

.number-controls button {
    width: 30px;
    height: 30px;
    margin: 2px 0;
    font-size: 18px;
    background-color: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
}

.number-controls button:hover {
    background-color: #bbb;
}
