/* Drive Token */
.drive-image-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 95%;
    height: 120px;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding is included in the container's width */
    margin-bottom: 10px;
}

.image-container {
    object-fit: contain; /* Ensures image scales within its container */
    width: 80%; /* Adjust as needed */
    height: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    background-color: aliceblue;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensures image scales within its container */
}

/* End Drive Token */

/* Char Token */
.circular-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the circle area */
    display: block; /* Remove any extra space below the image */
}

.spell-range {
    position: absolute;
    border-radius:50%;
    border: 2px dashed red;
    pointer-events: none; /* Allow mouse events to pass through */
    z-index: 100;
}

.spell-cast{   
    position: absolute;
    border: 2px solid blue;
    background-color: #7fffd462;
    pointer-events: none; /* Allow mouse events to pass through */
    z-index: 100;
}

.spell-circular{
    border-radius: 50%;
}

.spell-cone{
    width: 0;
    height: 0;
    border-color: transparent;
    background-color: transparent;
    border-top: 0px solid #7fffd462; /* The color of the triangle */
    border-bottom: 0px solid #7fffd462; /* The color of the triangle */
}

.spell-from-caster{
    transform-origin: top center !important;
}

  
.highlight-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(207, 48, 48, 0.651); /* A yellow semi-transparent overlay */
    pointer-events: none; /* Ensure this overlay doesn't block clicks */
    z-index: 1; /* Ensure it stays above the token */
}

/* End Char Token */