<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabletop Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styless/shared.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styless/sheets.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styless/gameboard.css') }}">
</head>
<body>
    <div id="user-interface" style="width: 100%; height: 100%; position: relative; top: 0px; left: 0px;">
        <div id="top-menu-bar" class="column centered"></div>  
        <div id="top-right-menu-bar" class="column centered"></div>
        <div id="bottom-menu-bar" class="row centered"></div>
    </div>
    <div id="gameboard" class="board">
        <div id="gameboard-content">
            <div id="grid-background" class="grid"></div>
            <div id="background-layer" class="layer"></div>
            <div id="character-layer" class="layer"></div>
            <div id="fog-layer" class="layer"></div>
            <div id="drag-overlay" class="drag-circle"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='javascript/ui_bringup.js') }}"></script>
</body>
</html>
