<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabletop Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styless/shared.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styless/sheets.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styless/gameboard.css') }}">
</head>
<body>
    <div id="user-interface" style="width: 100%; height: 100%; position: relative; top: 0px; left: 0px;">
        <div id="top-menu-bar" class="column centered"></div>  
        <div id="top-right-menu-bar" class="column centered"></div>
        <div id="bottom-menu-bar" class="row centered"></div>
    </div>
    <div id="drive-images-bar">
        <div id="drive-images-bar-top-bar" class="row"></div>
        <div id="character-list-container" class="image-bank active">
            <h2>Char Library</h2>
            <div id="character-select-bar"></div>
            <div id="character-list" class="column vertical"></div>   
        </div>    
        <div id="npc-list-container" class="image-bank">
            <h2>Boot Library</h2>
            <div id="npc-select-bar"></div>
            <div id="npc-list" class="column vertical"></div>  
        </div>         
        <div id="background-list-container" class="image-bank">
            <h2>Background Library</h2>
            <div id="background-select-bar"></div>
            <div id="background-list" class="column vertical"></div>
        </div>
    </div>
    <div id="gameboard" class="board">
        <div id="gameboard-content">
            <div id="grid-background" class="grid"></div>
            <div id="background-layer" class="layer"></div>
            <div id="character-layer" class="layer"></div>
            <div id="fog-layer" class="layer"></div>
            <div id="drag-overlay" class="drag-circle"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='javascript/ui_classess.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/game_classess.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/globals.js') }}"></script>  
    <script src="{{ url_for('static', filename='javascript/database.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/game/consumables.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/game/weapons.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/shared/shared_functions.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/game/engine_shared_functions.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/sheets/sheet_login_screen.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/sheets/sheet_character_page.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/sheets/sheet_drive_image_bar.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/sheets/sheet_create_character.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/sheets/sheet_spell_creator.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/sheets/sheet_interface.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/game/spell_cast.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/game/gameboard.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/game/conjured_chars_token.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/game/character_token.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/game/background_token.js') }}"></script>
</body>
</html>
