/* Row class that centers items both horizontally and vertically */
.row{
    display: flex; /* Use flexbox layout */
    flex-direction: row; /* Arrange items in a row */
    overflow-y: hidden; /* Prevent vertical scrolling */
}

.column {
    display: flex; /* Ensure it's a flex container */
    flex-direction: column; /* This is the default, so you can omit it */
    overflow-y: hidden; /* Prevent vertical scrolling */
}

.spacer {
    flex-grow: 1; /* Allow this element to take up all available space */
}

.horizantal {
    justify-content: center; /* Centers content horizontally */
}

.vertical {
    align-items: center; /* Centers content vertically */
}

.centered {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center items horizontally */
    text-align: center;
    align-items: center; /* Center items vertically */
}

.box-circular-border {
    border-radius: 5px;
    border: 2px solid black;
}

.separator {
    width: 1px;
    background-color: #000; /* Separator color */
}

.highlight {
    border-radius: 5px;
    border: 2px solid orange !important;
    background-color: yellow !important;
}

.font-red {
    color: red; /* Sets the text color to red */
}

.font-mana {
    color: rgb(18, 52, 146); /* Sets the text color to red */
}


.font-description-1 {
    font-family: 'Georgia', serif; /* Elegant and readable serif font */
    color: #333; /* Dark grey for text color to ensure readability */
    font-size: 1em; /* Adjust size as needed */
    line-height: 1.5; /* Spacing between lines for readability */
}

.font-description-2 {
    font-family: 'Cinzel', serif; /* Decorative serif font for a fantasy feel */
    color: #123456; /* Dark blue color for a mystical look */
    font-size: 1em; /* Adjust size as needed */
    line-height: 1.5; /* Spacing between lines for readability */
}

.bold {
    font-weight: bold; 
}

.normal {
    font-weight: normal;
}

.test-dot {
    position: absolute;
    width: 6px;
    height: 6px;
    border: 3px solid red;
    border-radius: 50%;
    background-color: red;
    z-index: 1500;
}

/* Child Creators */
.selection-bar{
    width: 99%;
    height: 50px;
    display: flex; /* Use flexbox layout */
    flex-direction: row; /* Arrange items in a row */
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow-y: auto; /* Prevent vertical scrolling */
    gap: 10px;
}

.image-button {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding-inline: 0px;
    background-color: transparent;
    border-radius: 4px;
    border: 4px solid transparent; /* Start with no border */
    transition: all 0.3s ease; /* Smooth transition */
}

.image-button:hover {
    border-color: #007BFF; /* Border color on hover */
    color: #007BFF; /* Optional: Change text color */
}

.image-button > .material-icons-outlined {
    background: none; /* Remove icon background */
    color: inherit; /* Inherit the color from the parent button */
    line-height: 1; /* Prevent extra spacing around the icon */
}

.menu-name {
    font-size: 20px;
    font-weight: bold;
    color: #333; /* Dark gray color for the text */
    text-transform: uppercase; /* Uppercase for a modern look */
    font-family: 'Arial', sans-serif; /* Use a clean, modern font */
    padding: 5px 10px; /* Add some padding around the name */
}

.menu-bar {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 95%;
    border-radius: 5px; /* Slightly rounded corners for the background */
    background-color: #f0f0f0; /* Light background color for contrast */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    transition: transform 0.3s ease-in-out; /* Smooth transition for interactions */
}

.dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 2px solid #ada6a6;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 5px;
    display: none; /* Initially hidden */
    z-index: 1000;
}

.dropdown-menu-button{
    display: block;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #000;
    text-align: center;
}

.dropdown-menu-close-button {
    display: block;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    color: red; /* Text color red */
    font-weight: bold; /* Makes the text bold */
}

.draggable-row {
    width: 100%;
    height: 2px;
    padding: 5px;
    background-color: rgba(22, 167, 224, 0.993);
    border: 2px solid rgba(22, 167, 224, 0.993);
    border-radius: 10px;
    cursor: move;
}

.form-group {
    background-color: rgb(240, 222, 118);
    width: 95%;
    padding: 5px;
    display: flex; /* Ensure it's a flex container */
    overflow-y: hidden; /* Prevent vertical scrolling */
    overflow-x: hidden;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: center; /* Center the text horizontally */
}

.form-group input {
    width: 60%;
    height: 90%;
    padding: 8px;
    box-sizing: border-box;
    text-align: left; /* Center the text horizontally */
    margin-right: 10px;
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Chrome, Safari, Edge */
    font-weight: bold;
    font-size: 16px; /* Optional: adjust font size to improve readability */
}

.form-group textarea {
    width: 60%;
    height: 90%;
    padding: 8px;
    box-sizing: border-box;
    text-align: left; /* Center the text horizontally */
    margin-right: 10px;
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Chrome, Safari, Edge */
    font-weight: bold;
    font-size: 16px; /* Optional: adjust font size to improve readability */
}

.form-group select {
    width: 60%;
    height: 90%;
    padding: 8px;
    box-sizing: border-box;
    text-align: left; /* Center the text horizontally */
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px; /* Optional: adjust font size to improve readability */
}

.form-group input::-webkit-inner-spin-button,
.form-group input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.list-element {
    display: flex;
    min-width: 98%;
    min-height: 30px;
    gap: 2px;
    background-color: antiquewhite;
}

.list-element label {
    display: block;
    margin-bottom: 5px;
    text-align: center; /* Center the text horizontally */
}

.number-controls {
    display: flex;
    flex-direction: column;
}

.number-controls button {
    width: 30px;
    height: 30px;
    margin: 2px 0;
    font-size: 18px;
    background-color: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
}

.number-controls button:hover {
    background-color: #bbb;
}

/* Style for tab navigation */
.tab-container {
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Style for tab links */
.tab-container button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change color of tab-container links on hover */
.tab-container button:hover {
    background-color: #ddd;
}

/* Style for the active tab-container */
.tab-container button.active {
    background-color: #ccc;
}

/* tab content */
.tab-content {
    display: none;
    border-top: none;
    align-items: center;
    justify-content: center;
}

/* Show active tab content */
.tab-content.active {
    display: flex;
}

/* Child Creators END */