#ui-storage {
    position: absolute;
    top: 0;
    left: -330px;
    height: 100%;
    width: 330px;
    display: flex;
    background-color: #ddd;
    flex-direction: column;  /* Stack items vertically */
    align-items: center;     /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center;      /* Center text content horizontally */
    gap: 0.5%;               /* Add space between items */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: left 0.3s ease-in-out; /* Smooth sliding effect */
    z-index: 10;
}